###############################################
# Logging

logLevel: info
logDestinations: [stdout]

###############################################
# Protocols

rtsp: yes
rtmp: yes
hls: yes

###############################################
# WebRTC

webrtc: yes
webrtcAddress: :8889

webrtcLocalUDPAddress: :8189

webrtcIPsFromInterfaces: false
webrtcAdditionalHosts:
  - {{ vm_ip }}

udpReadBufferSize: 1000000  # Increase from default

###############################################
# SRT

srt: yes
srtAddress: :8890

###############################################
# Control API (debugging)

api: yes
apiAddress: :9997

###############################################
# Default path behavior

pathDefaults:
  source: publisher
  overridePublisher: yes
  record: yes
  # Path of recording segments.
  # Extension is added automatically.
  # Available variables are %path (path name), %Y %m %d (year, month, day),
  # %H %M %S (hours, minutes, seconds), %f (microseconds), %z (time zone), %s (unix epoch).
  recordPath: {{ recordings_dir }}/%path/%Y-%m-%d_%H-%M-%S-%f
  # Format of recorded segments.
  # Available formats are "fmp4" (fragmented MP4) and "mpegts" (MPEG-TS).
  recordFormat: fmp4
  # fMP4 segments are concatenation of small MP4 files (parts), each with this duration.
  # MPEG-TS segments are concatenation of 188-bytes packets, flushed to disk with this period.
  # When a system failure occurs, the last part gets lost.
  # Therefore, the part duration is equal to the RPO (recovery point objective).
  recordPartDuration: 1s
  # This prevents RAM exhaustion.
  recordMaxPartSize: 50M
  # Minimum duration of each segment.
  recordSegmentDuration: 1h
  # Delete segments after this timespan.
  # Set to 0s to disable automatic deletion.
  recordDeleteAfter: 1d

###############################################
# Stream definitions

paths:

  "~^.*$":
    source: publisher
